<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>제목</th>
            <th>작성자</th>
            <th>내용</th>
            <th>date</th>
        </tr>
                <tr>
                    <td><%= content.id %></td>
                    <td><%= content.title %></td>
                    <td><%= content.writer %></td>
                    <td><%= content.content %></td>
                    <td><%= content.date %></td>
                </tr>
        </table>
</body>
</html>